.todo-list, .done-list, .undone-list {
  margin: 40px;
  text-align: center;
}

.todo-group {
  margin-top: 35px;
}

.todo-item {
  border: 2px solid;
  font-size: 14pt;
  text-align: left;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
}

.todo-item-button {
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.todo-item-button[id="remove"] {
  padding-left: 10px;
}

.todo-generator {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

input {
  width: 310px;
  height: 40px;
  border: 2px solid rgb(133, 133, 133);
  border-radius: 4px;
  font-size: 16px;
  vertical-align: middle;
}

.line-through {
  text-decoration: line-through;
  cursor: pointer;
}

.normal-text {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
